.gmd_container{
    width: 100vw;
    height: 100vh;  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

}
.gmd_left{
    flex: 3;
    height: 100%;
    width: 100%;
}

.gmd_right{
    flex: 1;
    height: 100%;
    /* background-color: firebrick; */
    overflow: scroll;
}

.gmd_right_title{
    text-align: center;
    padding: 10px 0 5px 0;
    font-size: 25px;
}
.DirectionCard_container{
    background-color: aliceblue;
    border: 1px solid blue;
    border-radius: 5px;
    margin: 10px;
    padding:5px;
    display: flex;
    flex-direction: row;
}

.DirectionCard_left{
    flex:4;
}

.DirectionCard_right{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jj_rider_maps_right_top{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 1px;
}

.jj_btn_rider_horizontal{
    margin: 5px 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}