.jerry_directions2_contianer_top{
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #cdc6c6;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.jerry_directions2_map_container{
    height: 100%;
    width: 100%;
    flex:3
}

.jerry_routes_bottom{
    overflow: scroll;
    flex: 3;
}
.jerry_directions2_rider_info{
    height: 80%;
    /* width: 40%; */
    flex: 1;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: center; */
    background-color: #c3c3f0;
    height: 100%;
    overflow: scroll;
}


.jerry_routes_stats{
    display: flex;
    justify-self: start;
    width: 100%;
    flex:2;
    /* justify-content: center; */
    align-self: flex-start;
    /* background-color: green; */
    align-items: center;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.jerry_routes_stats_bottom{
    /* background-color: green; */
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;


}

.jerry_h_container{
    display: flex;
    width: 100%;
    /* justify-content: center; */
    /* align-items: center; */
    /* overflow: hidden; */
}

.margin_10_width{
    margin: 10px;   
    width: 25%;
    text-align: center;
    /* padding: 5px 10px; */
}
